@model List<OrderViewModel>

<div class="row justify-content-between mt-4">
    <div class="col-4">
        <h4>Mis Pedidos</h4>
    </div>
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha de compra</th>
            <th>Total</th>
            <th>Productos</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDateFormatted</td>
                <td>@order.TotalAmountFormatted</td>
                <td>
                    <ul>
                        @foreach (var orderItem in order.OrderItems)
                        {
                            <li class="list-group-item">
                                @orderItem.OrderItemSummary
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>