@model List<CartItemViewModel>;


@if (Model.Count() != 0)
{

    <div class="row justify-content-between mt-4">
        <div class="col-4">
            <h4>Carrito</h4>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Finalizar Compra
            </button>
        </div>
    </div>
    <hr />

    <table class="table table-striped">
        <thead>
            <tr>

                <th style="width:120px"></th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th style="width:120px"></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="align-middle">
                    <td style="width:120px">
                        <img class="card-img-top rounded" src="~/images/@(item.ImageName ?? "default.png")" alt="Product image"
                             loading="lazy" style="width:100px" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@((item.Price * item.Quantity).ToString("C"))</td>


                    <td style="width:120px">
                        <a href="/Home/RemoveItemToCart?productId=@item.ProductId" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

}
else
{

    <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
        No hay productos en el carrito
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/Home/PayNow" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Forma de pago</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3">

                        <div class="col-12">
                            <input type="email" class="form-control" name="email" placeholder="Email" required maxlength="100" />
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" name="address" placeholder="Dirección" required minlength="5" maxlength="120" />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="country" placeholder="País" required minlength="2" maxlength="60" />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="city" placeholder="Ciudad" required minlength="2" maxlength="60" />
                        </div>
                        <hr />
                        <div class="col-12">
                            <input type="text" class="form-control" name="cardHolderName" placeholder="Nombre del titular" required minlength="3" maxlength="100" />
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" name="cardNumber" placeholder="Número de tarjeta" required inputmode="numeric" pattern="[0-9]{16}" maxlength="16" title="Ingresa 16 dígitos" />
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="expirationMonth" placeholder="MM" required min="1" max="12" />
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" name="expirationYear" placeholder="AAAA" required min="2022" max="2100" />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="cvv" placeholder="CVV" required inputmode="numeric" pattern="[0-9]{3,4}" minlength="3" maxlength="4" title="Ingresa 3 o 4 dígitos" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Pagar</button>
                </div>
            </form>


        </div>
    </div>
</div>