
<div class="row p-5 bg-light mt-4 justify-content-center">
    <div class="col-sm-12 text-center">
        <i class="fa-solid fa-clipboard-check fa-10x text-success mb-4"></i>
        <h1 class="text-success">Compra Completada!</h1>

        <h4 class="text-dark-emphasis mb-4">Revisa tu e-mail para más detalles</h4>

        <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-warning" href="/Home/Index">Continuar comprando</a>
            <a class="btn btn-primary" href="/User/MyOrders">Ver mis órdenes</a>
        </div>
    </div>
</div>
